# .env_example

# Режим отладки
DEBUG=True

# Секретный ключ Django
SECRET_KEY=your-secret-key-here

# База данных
DB_ENGINE=django.db.backends.postgresql
DB_NAME=edu_modules
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_HOST=localhost
DB_PORT=5432

# Админка и суперпользователь (опционально)
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpass
DJANGO_SUPERUSER_USERNAME=admin

# JWT авторизация (если будешь использовать)
JWT_SECRET_KEY=your-jwt-secret-key
JWT_ACCESS_TOKEN_LIFETIME_DAYS=1
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# Email (опционально)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=